/* Default */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
}

html,
body {
  font-family: 'Kumbh Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 1.6;
  background: url('./../images/bg-pattern-bottom.svg') center center/cover no-repeat;
  background-color: var(--dark-cyan);
}

img {
  max-width: 100%;
}

/* Utilities */
.card--bold {
  font-weight: 700;
}

.card--normal {
  font-weight: 400;
  color: var(--dark-grayish-blue);
}

.card--separate {
  letter-spacing: 2px;
  font-size: 0.9rem;
}

/* Variables */

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --font-big-name-stats: 18px;
}

/* Card */

.card {
  background-color: #fff;
  max-width: 500px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

.card__image {
  width: 500px;
  height: 280px;
  position: relative;
}

.card__image-bg {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}

.card__image-person {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-20%);
  border-radius: 100px;
  border: 5px solid #fff;
  width: 8rem;
}

.card__hero {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card__hero-age {
  margin-left: 0.3rem;
}

.card__bar {
  border-bottom: 1px solid var(--very-dark-desaturated-blue);
  width: 100%;
  opacity: 0.4;
  
}

.card__footer {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.card__footer-followers {
  display: flex;
  flex-direction: column;
}

/* Media Queries */
@media (max-width: 520px) {
  html,
  body {
    height: 100vh;
  }

  .card {
    max-width: 60%;
    height: 450px;
  }

  .card__image-bg {
    max-width: 60%;
  }

  .card__image-person {
    transform: translateX(-50%) translateY(-30%);
  }
}